<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-CDVTabBar"
    version="1.0.0">
    <name>CDVTabBar</name>
    <description>Cordova TabBar Plugin</description>
    <license>MIT</license>
    <keywords>cordova,tabbar,ios</keywords>
    <repo>https://github.com/Emadello/cordova-plugin-CDVTabBar.git</repo>
    <issue>https://github.com/Emadello/cordova-plugin-CDVTabBar/issues</issue>

    <js-module src="www/TabBar.js" name="TabBar">
        <clobbers target="tabbar" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TabBar">
                <param name="ios-package" value="TabBar"/>
            </feature>
        </config-file>

        <header-file src="src/ios/TabBar.h" />
        <source-file src="src/ios/TabBar.m" />
    </platform>
</plugin>